{% extends "base_with_partners.html" %}

{% block title %}BDE UTT{% endblock %}

{% block content %}

{% with title="Les membres" %}
{% with subtitle="Bénévoles qui œuvrent pour la vie associative" %}
{% with imgsrc="/static/img/membres.jpg" %}
{% include "partials/pictureTitle.html" %}
{% endwith %}{% endwith %}{% endwith %}

<div class="text-center my-4">
    <h3>Les commissions d'Automne 2025</h3>
</div>

<div class="d-flex justify-content-center flex-wrap my-4 px-5 gap-3">
    {% for team in teams %}
    <div class="card shadow p-3 bg-light" style="min-width: 400px; max-width: 40vw;">
        <h5 class="card-title text-center m-0">{{team.name}}</h5>
        <h6 class="card-subtitle text-justify text-secondary mt-2">{{team.description}}</h6>
        <hr>
        <div class="d-flex flex-column row-gap-1">
            {% for member in team.members %}
            <div class="d-flex flex-row column-gap-2 align-items-center">
                <img src="{{member.profile.picture_url}}" class="card-img-left rounded" alt="Nom de la personne"
                    style="width: 50px; height: 50px; object-fit: cover;">
                <div class="d-flex column-gap-2">
                    <p class="m-0 align-self-end fw-semibold">{{member.first_name}} {{member.last_name}}</p>
                    <p class="m-0 text-secondary align-self-end">{{member.role_display}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}