{% extends "base_with_partners.html" %}

{% block title %}BDE UTT{% endblock %}

{% block content %}

{% with title="Bienvenue au BDE" %}
{% with subtitle="Bureau Des Etudiants de l'Université de Technologie de Troyes" %}
{% with src="/static/img/membres.jpg" %}
{% include "partials/heroWithPicture.html" %}
{% endwith %}{% endwith %}{% endwith %}

<!-- TODO: Home page -->

<div class="container py-5">

    <!-- Calendar Card -->
    {% include "home/cards/calendar.html" %}

    <!-- Focus Service Section -->
    <div class="row mb-5">
        <h3 class="fw-bold text-center mb-3">Focus sur des services</h3>
        <div class="col-lg-4 mx-auto">
            {% include "services/foyer/preview.html" %}
        </div>
        <div class="col-lg-4 mx-auto">
            {% include "services/loan/preview.html" %}
        </div>
        <div class="col-lg-4 mx-auto">
            {% include "services/clubs/preview.html" %}
        </div>

        <div class="col-12 text-end mt-4">
            <a href="/services/" class="btn btn-outline-primary btn-sm">Voir plus de services</a>
        </div>
    </div>

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}