{% extends "base_with_partners.html" %}

{% block title %}BDE UTT{% endblock %}

{% block content %}

{% with title="Bienvenue au BDE" %}
{% with subtitle="Bureau Des Etudiants de l'Université de Technologie de Troyes" %}
{% with src="/static/img/membres.jpg" %}
{% include "partials/heroWithPicture.html" %}
{% endwith %}{% endwith %}{% endwith %}

<!-- TODO: Home page -->

<div class="container py-5">

    <!-- Construction Card -->
    {% include "partials/cards/construction.html" %}

    <!-- Calendar Card -->
    {% include "home/calendarCard.html" %}

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}