{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Prêt{% endblock %}

{% block content %}

<div class="mt-5 pt-3">
    <div class="text-center mt-5 my-4">
        <h3>Prêt de matériel</h3>
    </div>

    <!-- TODO: Lend infos -->

    <div class="d-flex flex-column align-items-center row-gap-4 p-4 m-auto width-limited-lg">
        {% with title="Plateforme de demande Logistique" %}
        {% with subject="de prêt" %}
        {% include "partials/cards/tickets.html" %}
        {% endwith %}{% endwith %}
    </div>
</div>

{% endblock %}