DEBUG= # True or False

ADMIN_URL=
ALLOWED_HOSTS= # coma separated
CSRF_TRUSTED_ORIGINS= # coma separated
CSRF_COOKIE_SECURE=
DEV_MODE= # True or False
SESSION_COOKIE_SECURE=
SECRET_KEY=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

OIDC_OP_AUTHORIZATION_ENDPOINT=
OIDC_OP_TOKEN_ENDPOINT=
OIDC_OP_USER_ENDPOINT=
OIDC_OP_JWKS_ENDPOINT=
OIDC_RP_CLIENT_ID=
OIDC_RP_CLIENT_SECRET=
OIDC_RP_SIGN_ALGO= # example: RS256
OIDC_RP_SCOPES= # example: openid email profile
OIDC_SUPERUSER_GROUP= # OIDC group giving Django staff+superuser
OIDC_EDITOR_GROUP= # OIDC group granting staff + editor Django group
OIDC_EDITOR_DJANGO_GROUP= # Django group name (example: Editeur BDE)