<footer class="text-center text-lg-start" style="background-color: #1D2C4D;">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <img src="/static/img/bde.png" alt="Logo BDE UTT" class="mb-3" style="max-width: 120px;">
                <h5 class="text-uppercase text-light">BDE UTT</h5>
                <p class="text-light">
                    © 2025 BDE UTT. Tous droits réservés.
                </p>
            </div>
            <div class=" col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">Contact</h5>
                <p class="text-light">
                    Mail:
                    <a href="mailto:bde@utt.fr">bde@utt.fr</a>
                    <br>
                    Tel:
                    <a href="tel:+33325717674">03 25 71 76 74</a>
                    <br>
                    12 rue Marie Curie, 10000 Troyes (bâtiment N)
                </p>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase text-light">Liens utiles</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-light">Accueil</a>
                    </li>
                    <li>
                        <a href="/membership" class="text-light">Adhérer</a>
                    </li>
                    <li>
                        <a href="/contacts" class="text-light">Nous contacter</a>
                    </li>
                    <li>
                        <a href="/legal" class="text-light">Mentions légales</a>
                    </li>
                    <li>
                        <a href="/redirect/admin" class="text-light">Espace Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 bg-dark text-center text-light m-0 p-0">
        <p class="m-0 p-1">Site développé et hébergé par l'association UTT Net Group</p>
    </div>
</footer>