<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1D2C4D;">
    <div class="container-fluid">
        <a class="navbar-brand text-light d-flex align-items-center" href="/" style="height:38px;">
            <img src="/static/img/bde.png" alt="Logo BDE UTT" style="height:32x; max-height:100%; width:auto;">
            <span class="ms-2 text-light">BDE UTT</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/membership">Adhésion</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/services">Découvrir</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/services/foyer">Foyer</a></li>
                        <li><a class="dropdown-item" href="/services/lend">Prêt de matériel</a></li>
                        <li><a class="dropdown-item" href="/services/campus">Animation du Campus</a></li>
                        <li><a class="dropdown-item" href="/services/clubs">Clubs & Associations</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/partners">Partenariats</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Evènements
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/events">Découvrir</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/events/integration">Intégration</a></li>
                        <li><a class="dropdown-item" href="/events/r2d">R2D</a></li>
                        <li><a class="dropdown-item" href="/events/sdf">Soirée de Finaux</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Les membres
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/members/board">Bureau</a></li>
                        <li><a class="dropdown-item" href="/members">Commissions</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/contacts">Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>