<div class="card width-limited-card shadow-lg border-0 p-4 align-items-center row-gap-1 w-100">
    <h4>{{title}}</h4>
    <p>Toutes les demandes {{subject}} passent par la plateforme de tickets du BDE</p>
    <a href="https://tickets.uttnetgroup.fr" class="btn btn-primary" target="_blank">Accéder à la plateforme</a>
    <p class="m-0 text-secondary">Utiliser le mode de connexion "SIA"</p>
    <div class="border border-warning rounded mt-3 p-2 text-container ">
        <p class="m-0">
            Un compte du Système d'Information des Associations (SIA) est nécessaire.
            <br>
            Il peut se créer en 2 minutes
            <strong>avec son adresse email @utt.fr</strong>
            via le lien suivant :
            <a href="https://links.uttnetgroup.fr/register" target="_blank">Nouveau Compte</a>
        </p>
    </div>
</div>