{% extends "partials/cards/base.html" %}

{% block card_classes %}modern-card h-100 border-0 mb-5 shadow{% endblock %}

{% block card_title %}
<h4 class="card-title fw-bold mb-3">{{ content.calendar_header|safe }}</h4>
{% endblock %}

{% block card_body %}
<div class="row align-items-center">

    <div class="col-auto">
        <div class="d-flex flex-column gap-2">
            <a href="/events#calendar" class="btn btn-light btn-lg bg-gradient-primary px-5 py-3 shadow">
                {{ content.calendar_button|safe }}
            </a>
            <a href="#" class="text-secondary small text-center">
                {{ content.calendar_link|safe }}
            </a>
        </div>
    </div>

    <div class="col">
        <p class="card-text text-muted text-justify">
            {{ content.calendar_description|safe }}
        </p>
    </div>

</div>
{% endblock %}

{% block card_footer %}
{% endblock %}
