{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Tickets{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- Hero Section -->
    {% with title="Plateforme de Tickets" %}
    {% with subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam, quo facere tempore" %}
    {% include "partials/hero.html" %}
    {% endwith %}{% endwith %}

    <!-- Construction Card -->
    {% include "partials/cards/construction.html" %}

    <div class="py-5">
        <h2 class="text-center mb-5 fw-bold">C'est quoi ?</h2>

        <p class="fs-5 text-justify">
            Afin de centraliser les demandes, nous avons mis en place une plateforme dédiée
            accessible à l'ensemble des étudiants de l'UTT. Cette plateforme de tickets permet de gérer efficacement les
            demandes liées à nos services, en assurant un suivi transparent et une communication fluide entre les
            étudiants et les équipes du BDE. Que ce soit pour demander un prêt de matériel, signaler un problème,
            proposer un évènement, faire une suggestion ou demander de l'aide, la plateforme de tickets est votre point
            de contact privilégié pour toutes vos interactions avec le BDE.

            <br><br>

            Techniquement, la plateforme est basée sur Zammad, un logiciel de gestion de tickets open-source et hébergée
            sur le Système d'Information des Association de l'UTT Net Group. Elle est accessible à l'adresse
            <a href="https://tickets.uttnetgroup.fr" target="_blank" class="fw-bold">https://tickets.uttnetgroup.fr</a>.
        </p>

    </div>

    <!-- Platform Opening Steps Section -->
    <div class="py-5">
        <h2 class="text-center mb-5 fw-bold">Comment accéder à son compte ?</h2>

        <div class="row g-4">
            <!-- Step 1 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">1</span>
                        </div>
                        <a href="https://tickets.uttnetgroup.fr"
                            class="btn btn-outline-primary btn-md px-5 py-3 shadow mt-3" target="_blank">Accéder à
                            la
                            plateforme</a>
                    </div>
                </div>
            </div>

            <!-- Step 2 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">2</span>
                        </div>
                        <h5 class="card-title fw-bold">Choix du mode de connexion</h5>
                        <p class="card-text text-muted">
                            Sélectionner l'option
                            <br />
                            <strong>Connexion avec compte SIA</strong>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Step 3 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">3</span>
                        </div>
                        <h5 class="card-title fw-bold">Connexion SIA</h5>
                        <p class="card-text text-muted">Entrer vos identifiants SIA</p>
                    </div>
                </div>
            </div>

            <!-- Step 4 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">4</span>
                        </div>
                        <h5 class="card-title fw-bold">Redirection vers la plateforme</h5>
                        <p class="card-text text-muted">Vous serez redirigés automatiquement vers la plateforme de
                            tickets</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SignIn Steps Section -->
    <div class="py-5">
        <h2 class="text-center mb-5 fw-bold">Comment créer son compte SIA ?</h2>

        <div class="row g-4">
            <!-- Step 1 -->
            <div class="col-md-4 col-lg-4">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">1</span>
                        </div>
                        <a href="https://links.uttnetgroup.fr/register"
                            class="btn btn-outline-primary btn-md px-5 py-3 shadow mt-3" target="_blank">Accéder au
                            SSO</a>
                    </div>
                </div>
            </div>

            <!-- Step 2 -->
            <div class="col-md-4 col-lg-4">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">2</span>
                        </div>
                        <h5 class="card-title fw-bold">Créer votre compte SIA</h5>
                        <p class="card-text text-muted">
                            Remplir le formulaire d'inscription en utilisant votre
                            <strong>adresse email @utt.fr</strong>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Step 3 -->
            <div class="col-md-4 col-lg-4">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">3</span>
                        </div>
                        <h5 class="card-title fw-bold">Validation de l'email</h5>
                        <p class="card-text text-muted">Vous recevez un email de validation à votre adresse @utt.fr
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Platform Opening Steps Section -->
    <div class="py-5">
        <h2 class="text-center mb-5 fw-bold">Comment créer un ticket ?</h2>

        <div class="row g-4">
            <!-- Step 1 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">1</span>
                        </div>
                        <h5 class="card-title fw-bold">Appuyer sur le bouton +</h5>
                        <p class="card-text text-muted">
                            Il s'agit du bouton <strong>+</strong> vert en bas à gauche
                        </p>
                    </div>
                </div>
            </div>

            <!-- Step 2 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">2</span>
                        </div>
                        <h5 class="card-title fw-bold">Choisir un groupe</h5>
                        <p class="card-text text-muted">
                            Il s'agit du service qui traitera le ticket, en fonction du type de demande
                        </p>
                    </div>
                </div>
            </div>

            <!-- Step 3 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">3</span>
                        </div>
                        <h5 class="card-title fw-bold">Remplir les champs</h5>
                        <p class="card-text text-muted">Remplir les différents champs requis, en fonction du groupe
                            sélectionné</p>
                    </div>
                </div>
            </div>

            <!-- Step 4 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">4</span>
                        </div>
                        <h5 class="card-title fw-bold">Pièces jointes</h5>
                        <p class="card-text text-muted">Si nécessaire</p>
                    </div>
                </div>
            </div>

            <!-- Step 5 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">5</span>
                        </div>
                        <h5 class="card-title fw-bold">Enregistrement</h5>
                        <p class="card-text text-muted">Cliquer sur <strong>Créer</strong></p>
                    </div>
                </div>
            </div>

            <!-- Step 6 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">6</span>
                        </div>
                        <h5 class="card-title fw-bold">Mail de confirmation</h5>
                        <p class="card-text text-muted">Un mail de confirmation vous sera envoyé</p>
                    </div>
                </div>
            </div>

            <!-- Step 7 -->
            <div class="col-md-6 col-lg-3">
                <div class="card h-100 border-0 shadow-sm text-center">
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-primary rounded-circle p-3" style="font-size: 1.5rem;">7</span>
                        </div>
                        <h5 class="card-title fw-bold">Traitement</h5>
                        <p class="card-text text-muted">Le ticket est traité par le service concerné, vous recevrez
                            un
                            mail de mise à jour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}