{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Trésorerie{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- Hero Section -->
    {% with title="Trésorerie" %}
    {% with subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam, quo facere tempore" %}
    {% include "partials/hero.html" %}
    {% endwith %}{% endwith %}

    <!-- Construction Card -->
    {% if under_construction %}
    {% include "partials/cards/construction.html" %}
    {% endif %}

    <!-- Tickets Section -->
    {% with title="Plateforme de contact Trésorerie" %}
    {% with subject="relatives à la trésorerie" %}
    {% include "partials/cards/tickets.html" %}
    {% endwith %}{% endwith %}
</div>

{% endblock %}
