{% extends "partials/cards/base.html" %}

{% block card_classes %}modern-card border-0 shadow-lg{% endblock %}
{% block card_body_classes %}p-5{% endblock %}

{% block card_body %}
<div class="d-flex gap-3">
    <div class="flex-shrink-0"></div>
    <div class="flex-grow-1">
        <h5 class="fw-bold mb-2">
            Informations Livraisons
        </h5>
        <p class="text-muted mb-0">
            Les livraisons sont à déposer au <strong>Service Livraison</strong> de l'Université de
            Technologie de Troyes au <strong>12 Av. Louis François Armand, 10430
                Rosières-près-Troyes</strong>
        </p>
    </div>
</div>
{% endblock %}