{% extends "base.html" %}

{% block title %}BDE UTT - Evenements{% endblock %}

{% block head %}
<link href="/static/css/showcase/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="mt-5 p-3">

    <div class="text-center mt-5 my-4">
        <h3>Les évènements du BDE</h3>
        <p>
            Le Bureau Des Etudiants organise tout au long de l'année des évènements culturels et sportifs à destination
            des étudiants.
        </p>
    </div>

    <div class="d-flex flex-column align-items-center row-gap-4 m-auto">
        <div class="card shadow-lg p-4 border-0 align-items-center row-gap-3 w-100">
            <h4>Les évènements principaux</h4>
            <div class="d-flex flex-wrap gap-3 justify-content-evenly">
                <div class="card service-card shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Intégration</h5>
                    <p class="m-0" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus soluta
                        perspiciatis rerum esse
                        eligendi, iure quaerat praesentium explicabo facilis ut adipisci assumenda nihil, iusto, fugiat
                        similique sapiente. Officia, suscipit dolorem?</p>
                    <a href="/events/integration/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card service-card shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">R2D</h5>
                    <p class="m-0" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus soluta
                        perspiciatis rerum esse
                        eligendi, iure quaerat praesentium explicabo facilis ut adipisci assumenda nihil, iusto, fugiat
                        similique sapiente. Officia, suscipit dolorem?</p>
                    <a href="/events/r2d/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card service-card shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Soirée des Finaux</h5>
                    <p class="m-0" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusamus soluta
                        perspiciatis rerum esse
                        eligendi, iure quaerat praesentium explicabo facilis ut adipisci assumenda nihil, iusto, fugiat
                        similique sapiente. Officia, suscipit dolorem?</p>
                    <a href="/events/sdf/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card shadow-lg p-4 border-0 w-100 d-flex flex-row align-items-center justify-content-between gap-3">
            <p class="m-0 flex-grow-1" style="max-width: 800px; text-align: justify;">
                Tu as une question ? Besoin d'une information ? On sera heureux d'y répondre !
            </p>
            <a href="/contacts" class="btn btn-primary">
                Contacter le BDE
            </a>
        </div>
    </div>
</div>

{% endblock %}