{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Communication{% endblock %}

{% block content %}

<div class="mt-5 pt-3">
    <div class="text-center mt-5 my-4">
        <h3>Communication</h3>
    </div>

    <!-- TODO: Communication informations -->

    <div class="d-flex flex-column align-items-center row-gap-4 p-4 m-auto width-limited-lg">
        {% with title="Plateforme de contact Communication" %}
        {% with subject="relatives à la communication" %}
        {% include "partials/ticketsCard.html" %}
        {% endwith %}{% endwith %}
    </div>
</div>

{% endblock %}