{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Services{% endblock %}

{% block head %}
<link href="/static/css/showcase/main.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="mt-5 p-3">

    <div class="text-center mt-5 my-4">
        <h3>Les services du BDE</h3>
        <p>
            Le Bureau Des Etudiants a à coeur de proposer divers services pour le confort et l'accompagnement des
            étudiants de l'Université de Technologie de Troyes.
        </p>
    </div>

    <div class="d-flex flex-column align-items-center row-gap-4 m-auto">
        <div class="card shadow-lg p-4 border-0 align-items-center row-gap-3 w-100">
            <h4>Les services principaux</h4>
            <div class="d-flex flex-wrap gap-3 justify-content-evenly">
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Foyer</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Foyer infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/services/foyer/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Prêt de matériel</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Lend infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/services/lend/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Zeshop</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Zeshop infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/services/zeshop/" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Vie de Campus</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Campus infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/services/campus" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Accompagnement des clubs & associations</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Club&Assos infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/services/clubs" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
                <div class="card width-limited-sm shadow p-3 align-items-center row-gap-2">
                    <h5 class="m-0">Partenariats</h5>
                    <p class="m-0" style="text-align: justify;">
                        <!-- TODO: Parts infos -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, voluptatem eligendi eius
                        incidunt impedit, aliquam pariatur asperiores quidem non nostrum voluptas? Suscipit impedit nemo
                        quaerat est magni nesciunt sequi quia?
                    </p>
                    <a href="/partners" class="align-self-end">
                        <button type="button" class="btn btn-primary">
                            Voir plus
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card shadow-lg p-4 border-0 w-100 d-flex flex-row align-items-center justify-content-between gap-3">
            <p class="m-0 flex-grow-1" style="max-width: 800px; text-align: justify;">
                Tu as une question ? Besoin d'une information ? On sera heureux d'y répondre !
            </p>
            <a href="/contacts" class="btn btn-primary">
                Contacter le BDE
            </a>
        </div>
    </div>
</div>

{% endblock %}