body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.lang
{
    min-width: 0;
}

/* benefits page */
.benefits-thumbnail {
    margin-top: 10px;
    max-height: 150px;
    max-width: 150px;
    clear: both;
    float: right;
}
