{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - SDF{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- Hero Section -->
    {% with title=page.title %}
    {% with subtitle=page.description %}
    {% include "partials/hero.html" %}
    {% endwith %}{% endwith %}

    <!-- Construction Card -->
    {% if under_construction %}
    {% include "partials/cards/construction.html" %}
    {% endif %}

    <p class="text-justify mb-5">
        {{ content.p1|safe }}
    </p>

    <p class="text-justify mb-5">
        {{ content.p2|safe }}
    </p>

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}
