{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - Foyer{% endblock %}

{% block content %}

<!-- Hero Section -->
{% with title="Le Foyer" %}
{% with subtitle="Géré par des étudiants bénévoles, un lieu de détente où les cotisants BDE peuvent acheter des collations à prix coûtant, profiter d'animations quotidiennes et participer à des événements organisés en soirée." %}
{% with src="/static/img/foyer.png" %}
{% include "partials/heroWithPicture.html" %}
{% endwith %}{% endwith %}{% endwith %}

<!-- TODO: Foyer page -->
<div class="container py-5">

    <!-- About -->
    <div class="row mb-5">
        <h3 class="fw-bold text-center mb-3">Qu'est-ce que le Foyer ?</h3>
        <p class="fs-5 text-justify">
            Le foyer est un espace convivial où les étudiants peuvent se détendre entre les cours, profiter de
            canapés et acheter des collations à prix coûtant s'ils sont cotisants BDE. Tenu par des étudiants
            bénévoles, il est animé chaque jour par des permanenciers qui assurent le bar et peuvent promouvoir
            leurs clubs ou organiser des activités en soirée comme des afterworks ou barcamps.
        </p>
    </div>

    <div class="row mb-5">
        <div class="col-lg-5 mx-auto">
            <h3 class="fw-bold text-center mb-3">Horaires d'ouverture</h3>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <span class="badge bg-primary fs-3 ">9h30</span>
                <span class="text-muted">—</span>
                <span class="badge bg-primary fs-3 ">18h00</span>
            </div>
            <p class="text-center mt-3 fs-5 text-justify">
                Et plus tard lors des nombreux évènements associatifs: Afterworks, Barcamps, Club Bière, Karaoké, etc.
            </p>
        </div>
        <div class="col-lg-1 d-flex justify-content-center">
            <div style="border-left: 1px solid #dee2e6; height: auto;"></div>
        </div>
        <div class="col-lg-5 mx-auto">
            <h3 class="fw-bold text-center mb-3">Les viennoiseries</h3>
            <p class="text-center mt-3 fs-5 text-justify">
                En plus des immuables croissants et pains au chocolat disponibles chaque jour, le foyer propose des
                viennoiseries spéciales pour égayer vos pauses café: en fonction des jours, vous pourrez trouver
                Torsade, Chausson aux pommes, Beignet, Pain aux raisins, Suisse...
            </p>
        </div>
    </div>

    <!-- About Card -->
    {% include "services/foyer/pricesCard.html" %}

    <div class="row mb-5">
        <div class="col-lg-5 mx-auto">
            <h3 class="fw-bold text-center mb-3">La musique</h3>
            <p class="text-center mt-3 fs-5 text-justify">
                La règle est simple: celui qui tiens la permnanence choisi la musique ! Ambiance conviviale, découvertes
                musicales. L'occasion d'entendre les albums des groupes de l'UTT !
            </p>
        </div>
        <div class="col-lg-1 d-flex justify-content-center">
            <div style="border-left: 1px solid #dee2e6; height: auto;"></div>
        </div>
        <div class="col-lg-5 mx-auto">
            <h3 class="fw-bold text-center mb-3">Le bar</h3>
            <p class="text-center mt-3 fs-5 text-justify">
                Tenu tout au long des journées par des clubs et associations étudiantes, c'est l'endroit rêvé pour
                échanger avec eux, discuter de leurs passions, tout en commandant un café, une canette ou un snack !
            </p>
        </div>
    </div>

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}