<!-- About Card -->
{% extends "partials/cards/base.html" %}

{% block card_classes %}modern-card h-100 border-0 mb-5 shadow{% endblock %}
{% block card_body_classes %}d-flex flex-column p-4{% endblock %}

{% block card_title %}
<h4 class="card-title fw-bold mb-3 text-center">Tout à prix coutant !</h4>
{% endblock %}

{% block card_body %}
<p class="card-text text-muted text-justify">
    En tant que cotisant BDE, vous bénéficiez de prix coûtant sur l'ensemble de la gamme de collations et boissons au
    foyer.
    C'est l'occasion idéale de faire le plein d'énergie entre les cours sans se ruiner !
    Il s'agit d'un engagement fort du BDE pour rendre la vie étudiante plus abordable et agréable. Alors n'hésitez pas à
    venir profiter de ces avantages exclusifs au foyer !
</p>
{% endblock %}