{% extends "base_with_partners.html" %}

{% block title %}BDE UTT - SDF{% endblock %}

{% block content %}

<div class="container py-5">

    <!-- Hero Section -->
    {% with title="SDF - Soirée des Finaux" %}
    {% with subtitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nam, quo facere tempore" %}
    {% include "partials/hero.html" %}
    {% endwith %}{% endwith %}

    <p class="text-justify mb-5">
        Les SDF - Soirées Des Finaux, ce sont les soirées organisées pour les UTTiens à la toute fin du semestre, juste
        après les examens. Que ce soit pour célébrer la fin des partiels ou pour se consoler après une période intense,
        l'idée est simple : relâcher la pression et marquer le coup tous ensemble. C'est le moment de tourner la page du
        semestre dans une ambiance détendue et festive.
    </p>

    <p class="text-justify mb-5">
        On y passe un dernier grand moment avec ses potes avant de se séparer, autour d'un verre, de musique, de danse
        et de chants. Et pour rendre la soirée encore plus mémorable, une activité originale est souvent proposée, comme
        du bubble foot ou une bataille de polochons, histoire d'ajouter une touche fun et décalée à la fête.
    </p>

    <!-- CTA Section -->
    {% include "partials/cta.html" %}

</div>

{% endblock %}